<h1>电影资源</h1>
<h2 class="c1" style=""><i class="icon iconfont icon-shuye8"></i>超级福利</h2>
<ul class="pure-g">
    <li class="pure-u-1-2 pure-u-md-1-6">
        <a class="item" rel="" target="_blank" href="{{ url_for('home.fuli') }}" style="color:red;font-weight: bold;">
            支付宝红包(升级版)
        </a>
    </li>
</ul>

{% for b in data_tagname if b.tag_id==1 %}
    <h2 class="c1"><i class="icon iconfont icon-shuye1"></i> {{ b.name }}</h2>

    <ul class="pure-g">
        {% for v in data_tagurl if v.tagname_id==b.id %}
            <li class="pure-u-1-2 pure-u-md-1-6">
                <a class="item" target="_blank" href="{{ v.url }}">{{ v.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endfor %}

