<h1>电影资源</h1>
<h2 class="c1" style=""><i class="icon iconfont icon-shuye8"></i>超级福利</h2>
<ul class="pure-g">
    <li class="pure-u-1-2 pure-u-md-1-6">
        <a class="item" rel="" target="_blank" href="{{ url_for('home.fuli') }}" style="color:red;font-weight: bold;">
            支付宝红包(升级版)
        </a>
    </li>
</ul>

<h2 class="c1"><i class="icon iconfont icon-shuye1"></i> 最新电影</h2>
<ul class="pure-g">
    {% for v in range(0,11) %}
    <li class="pure-u-1-2 pure-u-md-1-6">
        <a class="item" target="_blank" href="http://www.lsjdyw.net/">老司机电影网</a>
    </li>
    {% endfor %}
</ul>

<h2 class="c1"><i class="icon iconfont icon-shuye2"></i> 在线电影</h2>
<ul class="pure-g">

</ul>

<h2 class="c1"><i class="icon iconfont icon-shuye3"></i> 网盘资源</h2>
<ul class="pure-g">

</ul>

<h2 class="c1"><i class="icon iconfont icon-shuye4"></i> BT资源</h2>
<ul class="pure-g">

</ul>

<h2 class="c1"><i class="icon iconfont icon-shuye5"></i> 生肉资源</h2>
<ul class="pure-g">

</ul>