
<h2 class="c2"><i class="icon iconfont icon-shuye1"></i> 欧美剧</h2>
<ul class="pure-g">
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="81" target="_blank" href="http://www.zimuzu.tv/">人人影视</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="82" target="_blank" href="http://www.ttmeiju.vip/">天天美剧</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="83" target="_blank" href="http://neets.cc/">neets</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="87" target="_blank" href="http://www.dysfz.cc/tv/">首发站美剧</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="84" target="_blank" href="http://www.meijutt.com/">美剧天堂</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="85" target="_blank" href="http://videos.yizhansou.com/">一站搜</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="86" target="_blank" href="http://www.dyrizhi.com/">电影日志</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="88" target="_blank" href="https://fantopia.club/">翻托邦美剧</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="89" target="_blank" href="https://www.icezmz.com/">冰冰字幕组</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="90" target="_blank" href="http://sskzmz.com/">ssk字幕组</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="91" target="_blank" href="http://dbfansub.com/">电波字幕组</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="92" target="_blank" href="http://www.orangesub.com/">Orange字幕组</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="563" target="_blank" href="http://cili001.com/">MAG磁力</a></li>
</ul>
<h2 class="c2"><i class="icon iconfont icon-shuye2"></i> 韩剧</h2>
<ul class="pure-g">
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="97" target="_blank" href="http://www.dysfz.cc/tv/">首发站韩剧</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="93" target="_blank" href="http://www.hanfan.cc/hanju/">韩饭网</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="94" target="_blank" href="http://www.hanmi520.com/forum-8-1.html">韩迷字幕组</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="95" target="_blank" href="http://www.y3600.com/hanju/">热播网</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="96" target="_blank" href="http://www.hanju.cc/">韩剧网</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="581" target="_blank" href="http://hxly9.com/forum.php">幻想乐园</a>
    </li>
</ul>
<h2 class="c2"><i class="icon iconfont icon-shuye3"></i> 日剧</h2>
<ul class="pure-g">
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="98" target="_blank" href="http://zhuixinfan.com/main.php">追番剧</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="102" target="_blank" href="http://www.zzrbl.com/">猪猪日剧</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="99" target="_blank"
            href="http://www.hideystudio.com/drama/">隐社</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="100" target="_blank" href="http://www.91riju.com/">91日剧</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="101" target="_blank"
            href="http://www.mytvbt.net/forumdisplay.php?fid=6">日菁字幕组</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="103" target="_blank" href="http://pssclub.com/forum.php">光合社</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="104" target="_blank" href="http://www.tokyonothot.com/portal.php">东京不够热</a>
    </li>
</ul>
<h2 class="c2"><i class="icon iconfont icon-shuye4"></i> 国产剧</h2>
<ul class="pure-g">
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="128" target="_blank" href="http://www.dysfz.cc/tv/">首发站tv</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="129" target="_blank" href="http://www.dyrizhi.com/">影视日志</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="554" target="_blank" href="http://v.sunbook.cc/">暖光影视</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="555" target="_blank" href="http://www.74zu.com/">骑士影院</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="132" target="_blank" href="http://www.6vhao.tv/dlz/">6V国剧</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="130" target="_blank"
            href="http://www.80s.tw/ju/list/----9-">80tv</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="131" target="_blank" href="http://www.gscq.me/">乐赏剧集</a></li>
</ul>
<h2 class="c2"><i class="icon iconfont icon-shuye5"></i> 动漫</h2>
<ul class="pure-g">
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="105" target="_blank" href="http://www.acfun.cn/">A站</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="106" target="_blank" href="https://www.bilibili.com/">B站</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="107" target="_blank" href="http://www.dilidili.wang/">D站</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="116" target="_blank" href="http://www.missevan.com/">M站</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="579" target="_blank" href="http://www.kisssub.org/">爱恋动漫</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="109" target="_blank" href="https://share.dmhy.org/">动漫花园</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="110" target="_blank" href="https://mikanani.me/">Mikan</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="111" target="_blank" href="http://www.36dm.com/">简单动漫</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="108" target="_blank" href="https://nyaso.com/">喵搜</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="112" target="_blank" href="http://www.comicat.org/">漫猫动漫</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="113" target="_blank" href="https://bangumi.moe/">萌番组</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="114" target="_blank" href="http://www.dm2046.com/">稻田装尸</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="115" target="_blank" href="http://bt.acg.gg/">ACG狗狗</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="117" target="_blank" href="http://www.moonbt.com/">月影动漫</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="568" target="_blank" href="http://www.ikanfan.com/">爱看番动漫</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="529" target="_blank"
            href="http://bbs.opfans.org/forum.php">枫雪动漫</a></li>
</ul>
<h2 class="c2"><i class="icon iconfont icon-shuye6"></i> 纪录片</h2>
<ul class="pure-g">
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="118" target="_blank" href="http://www.jlpcn.net/">纪录片天地</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="119" target="_blank" href="https://www.laojilu.com/">老记录</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="122" target="_blank" href="http://www.onehourlife.com/">公开课纪录片</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="120" target="_blank" href="http://jilupian.xzwyu.com/">行者物语纪录片</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="125" target="_blank" href="http://jilupian.youku.com/">优酷纪实</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="123" target="_blank" href="http://jishi.cctv.com/">央视记实</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="126" target="_blank"
            href="http://tv.sohu.com/documentary/">搜狐纪录片</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="124" target="_blank"
            href="http://www.iqiyi.com/jilupian/">爱奇艺纪录片</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="127" target="_blank" href="http://v.qq.com/doco/">腾讯纪录片</a></li>
</ul>