<h1>影视周边</h1>
<h2 class="c3" style=""><i class="icon iconfont icon-shuye8"></i>超级福利</h2>
<ul class="pure-g">
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"
                                            style="display: none;"></i><a class="item" rel=""
                                                                          target="_blank"
                                                                          href="http://hao.xsldh.com/welcome/hongbao"
                                                                          style="color:red;font-weight: bold;">支付宝红包(升级版)</a>
    </li>
</ul>
<h2 class="c3"><i class="icon iconfont icon-shuye1"></i> 字幕组</h2>
<ul class="pure-g">
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="151" target="_blank" href="http://subhd.com/">SubHd</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="152" target="_blank" href="http://www.zimuku.cn/">字幕库</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="153" target="_blank" href="http://assrt.net/">伪射手</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="154" target="_blank" href="http://www.subom.org/">subom</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="155" target="_blank" href="https://r3sub.com/">R3字幕</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="156" target="_blank" href="http://www.zmtiantang.com/">字幕天堂</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="157" target="_blank" href="http://www.hd.club.tw/forum-25-1.html">精研社</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="158" target="_blank" href="https://fantopia.club/">翻托邦字幕组</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="159" target="_blank" href="http://www.kamigami.org/">诸神字幕组</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="160" target="_blank" href="http://sskzmz.com/">ssk字幕组</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="161" target="_blank" href="http://sub.eastgame.org/">TLF字幕组</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="162" target="_blank"
            href="https://weibo.com/ragbear2007">破烂熊字幕组</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="163" target="_blank" href="http://dbfansub.com/">电波字幕组</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="527" target="_blank" href="http://www.qafone.co/">同志亦凡人</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="164" target="_blank" href="http://www.zzrbl.com/">猪猪字幕组</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="531" target="_blank" href="http://www.zimuxia.cn/">FIX字幕侠</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="530" target="_blank"
            href="http://www.orangesub.com/">Orange字幕组</a></li>
</ul>
<h2 class="c3"><i class="icon iconfont icon-shuye2"></i> 资讯</h2>
<ul class="pure-g">
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="133" target="_blank" href="https://movie.douban.com/">豆瓣电影</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="134" target="_blank" href="http://www.mtime.com/">时光网</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="135" target="_blank" href="http://www.imdb.com/">IMDB</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="136" target="_blank"
            href="https://www.rottentomatoes.com/">烂番茄</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="137" target="_blank" href="http://www.metacritic.com/">MTC</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="138" target="_blank" href="http://tvfantasy.net/">天涯小筑</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="139" target="_blank"
            href="http://www.atmovies.com.tw/movie/">开眼电影</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="140" target="_blank" href="http://www.impawards.com/">电影海报</a>
    </li>
</ul>
<h2 class="c3"><i class="icon iconfont icon-shuye3"></i> 影视大V</h2>
<ul class="pure-g">
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="174" target="_blank"
            href="https://weibo.com/moviefactory">电影工厂</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="175" target="_blank"
            href="https://weibo.com/cidengshuihuo">次等水货</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="169" target="_blank" href="https://weibo.com/206494942">桃桃淘电影</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="170" target="_blank" href="https://weibo.com/dsmovie">毒舌电影</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="165" target="_blank" href="https://weibo.com/lixiaojun9527">李小军的电影日常</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="166" target="_blank" href="https://weibo.com/liubimovie">刘哔电影</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="167" target="_blank"
            href="https://weibo.com/u/2864008873">电影特搜</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="168" target="_blank"
            href="https://weibo.com/u/2686330651">松子电影</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="171" target="_blank"
            href="https://weibo.com/zhangzongqian">亵渎电影</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="172" target="_blank" href="https://weibo.com/batefei">刷电影老太太</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="173" target="_blank"
            href="https://weibo.com/moviefansclub">电影幕后故事</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="177" target="_blank" href="https://weibo.com/208882127">电影Mark</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="178" target="_blank"
            href="https://weibo.com/sinahollyworld">守望好莱坞</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="179" target="_blank" href="https://weibo.com/duliyu">独立鱼</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="181" target="_blank"
            href="https://weibo.com/u/2315579285">整点电影</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="176" target="_blank"
            href="https://weibo.com/u/2302129312">方君荐电影</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="180" target="_blank" href="https://weibo.com/cfcu">影评老大爷暗夜骑士</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="182" target="_blank" href="https://weibo.com/MovieMonster">MovieMonster</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="549" target="_blank" href="https://weibo.com/qonghongzaolegebai">青红造了个白</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="584" target="_blank"
            href="https://weibo.com/zhangchuan307">发条张</a></li>
</ul>
<h2 class="c3"><i class="icon iconfont icon-shuye4"></i> 影视工具</h2>
<ul class="pure-g">
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="143" target="_blank" href="http://www.cbooo.cn/">实时票房</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="144" target="_blank" href="http://www.torrent.org.cn/">种子转磁力</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="145" target="_blank" href="http://huo360.com/calendar">美剧时间更新表</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="147" target="_blank" href="https://www.tunefind.com/">美剧背景音乐</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="148" target="_blank" href="http://www.vmovier.com/">短片视频</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="149" target="_blank" href="http://yugaopian.cn/">预告片世界</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="553" target="_blank" href="http://www.qmaile.com/">VIP视频解析</a>
    </li>
</ul>