<h1>阅读</h1>
<h2 class="c4" style=""><i class="icon iconfont icon-shuye8"></i>超级福利</h2>
<ul class="pure-g">
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"
                                            style="display: none;"></i><a class="item" rel=""
                                                                          target="_blank"
                                                                          href="http://hao.xsldh.com/welcome/hongbao"
                                                                          style="color:red;font-weight: bold;">支付宝红包(升级版)</a>
    </li>
</ul>
<h2 class="c4"><i class="icon iconfont icon-shuye1"></i> 网络小说</h2>
<ul class="pure-g">
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="203" target="_blank" href="http://www.zxcs8.com/">知轩藏书</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="197" target="_blank" href="https://www.owllook.net/">owllook搜索</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="274" target="_blank" href="https://www.xs8.cn/">言情小说吧</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="196" target="_blank" href="http://www.soduso.com/">搜读</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="199" target="_blank" href="http://www.biquge5200.com/">笔趣阁</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="200" target="_blank" href="http://www.x23us.com/">顶点小说</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="202" target="_blank" href="https://www.xiashu.cc/">下书网</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="201" target="_blank" href="https://www.hunhun520.com/">混混小说</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="211" target="_blank" href="http://www.zhulang.com/">逐浪小说网</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="212" target="_blank" href="http://hjsm.tom.com/">幻剑书盟</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="213" target="_blank" href="https://www.readnovel.com/">小说阅读网</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="214" target="_blank" href="https://www.qdmm.com/">起点女生网</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="215" target="_blank" href="http://www.motie.com/">磨铁中文网</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="216" target="_blank" href="http://www.jjxsw.com/">久久小说</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="198" target="_blank" href="http://zuiyidu.com/">最易读</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="208" target="_blank" href="http://www.jjwxc.net/">晋江文学</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="209" target="_blank" href="http://chuangshi.qq.com/">创世中文网</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="217" target="_blank" href="https://www.bookbao8.com/">书包网</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="269" target="_blank" href="http://www.8kana.com/">二次元小说</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="210" target="_blank" href="http://www.17k.com/">17K小说网</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="207" target="_blank" href="http://www.xxsy.net/">潇湘书院</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="206" target="_blank" href="https://www.hongxiu.com/">红袖添香</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="205" target="_blank" href="http://www.zongheng.com/">纵横中文网</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="204" target="_blank" href="https://www.qidian.com/">起点中文网</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="566" target="_blank" href="https://www.23qb.com/">铅笔小说</a></li>
</ul>
<h2 class="c4"><i class="icon iconfont icon-shuye2"></i> 电子书</h2>
<ul class="pure-g">
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="193" target="_blank" href="http://www.zhuishushenqi.com/">追书神器</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="194" target="_blank" href="https://www.qisuu.com/">奇书网</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="183" target="_blank" href="https://bookfere.com/">书伴</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="185" target="_blank" href="http://www.zoudupai.com/">走读派</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="186" target="_blank"
            href="https://www.amazon.cn/Kindle电子书/b/ref=sv_kinc_3?ie=UTF8&node=116169071">亚马逊kindle</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="184" target="_blank" href="http://mebook.cc/">我的小书屋</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="187" target="_blank" href="https://www.cnepub.com/">掌上书苑</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="188" target="_blank" href="http://idesks.me/">iDesks</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="191" target="_blank"
            href="http://haodoo.net/?M=hd&P=welcome">好读</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="268" target="_blank" href="http://www.xkreading.com/">醒客读书</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="275" target="_blank" href="http://www.duokan.com/">多看阅读</a></li>
</ul>
<h2 class="c4"><i class="icon iconfont icon-shuye3"></i> 有声读物</h2>
<ul class="pure-g">
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="247" target="_blank" href="http://www.ximalaya.com/">喜马拉雅</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="248" target="_blank" href="http://www.lrts.me/">懒人听书</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="249" target="_blank" href="http://qutingshu.com/">趣听书</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="251" target="_blank" href="http://www.tingbook.com/">天方听书</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="252" target="_blank"
            href="http://www.justing.com.cn/#/home/recommend">静雅思听</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="254" target="_blank" href="http://www.ysts8.com/">有声听书</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="258" target="_blank" href="http://www.tingchina.com/">听中国</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="253" target="_blank" href="http://yuedu.fm/">悦读FM</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="255" target="_blank" href="http://www.zgpingshu.com/">中国评书网</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="256" target="_blank" href="http://www.5tps.com/">我听评书</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="257" target="_blank" href="http://www.pingshu8.com/">评书吧</a></li>
</ul>
<h2 class="c4"><i class="icon iconfont icon-shuye4"></i> 漫画</h2>
<ul class="pure-g">
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="233" target="_blank" href="http://baozoumanhua.com/">暴走漫画</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="229" target="_blank" href="http://www.u17.com/">有妖气</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="231" target="_blank" href="http://www.kuaikanmanhua.com/">快看漫画</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="218" target="_blank" href="http://manhua.dmzj.com/">动漫之家</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="220" target="_blank" href="http://www.dm5.com/">动漫屋</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="228" target="_blank" href="http://www.zymk.cn/">知音动漫</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="222" target="_blank" href="http://www.1kkk.com/">极速漫画</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="221" target="_blank" href="http://www.somanhua.com/">搜漫画</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="224" target="_blank"
            href="http://www.ishuhui.com/cartoon">鼠绘漫画</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="225" target="_blank" href="http://www.manben.com/">漫本</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="223" target="_blank" href="http://comic.kukudm.com/">KuKu动漫</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="226" target="_blank" href="http://comic.sfacg.com/">SF漫画</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="227" target="_blank" href="http://www.18jdm.com/">18劲动漫</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="232" target="_blank" href="http://www.manmanapp.com/">漫漫漫画</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="219" target="_blank" href="http://www.manhuagui.com/">漫画柜</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="271" target="_blank" href="http://www.linovel.net/">轻之阅读</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="230" target="_blank" href="http://www.buka.cn/">布卡漫画</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="236" target="_blank" href="http://manhua.weibo.com/">V漫画</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="237" target="_blank" href="http://vol.moe/">vol漫画</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="234" target="_blank" href="http://ac.qq.com/">腾讯动漫</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="235" target="_blank" href="https://manhua.163.com/">网易动漫</a></li>
</ul>
<h2 class="c4"><i class="icon iconfont icon-shuye5"></i> 杂志</h2>
<ul class="pure-g">
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="238" target="_blank" href="http://www.52duzhe.com/">读者在线</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="245" target="_blank" href="http://www.92yilin.com/">意林在线</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="246" target="_blank" href="http://www.92gushi.com/">故事会在线</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="244" target="_blank"
            href="http://www.zoupan.com/category/mianfeizazhi/">走盘网</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="239" target="_blank" href="http://www.pdfzj.com/">PDF之家</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="240" target="_blank" href="https://weibo.com/pcpx">十月的杂货铺</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="241" target="_blank" href="https://weibo.com/magazine8">原版君</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="242" target="_blank" href="http://www.ifblue.net/">若蓝格</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="243" target="_blank" href="http://www.freelian.com/">Bucee杂志馆</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="273" target="_blank" href="http://www.zazhihui.net/">杂志惠</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="276" target="_blank" href="http://www.gqzzw.com/">高清杂志网</a></li>
</ul>
<h2 class="c4"><i class="icon iconfont icon-shuye6"></i> 文字社区</h2>
<ul class="pure-g">
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="261" target="_blank" href="https://book.douban.com/">豆瓣读书</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="262" target="_blank" href="http://www.jianshu.com/">简书</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="259" target="_blank" href="https://www.jiumodiary.com/">鸠摩搜书</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="260" target="_blank" href="http://www.9lizhi.com/">浩扬励志</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="264" target="_blank" href="http://www.ireadweek.com/">周读</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="556" target="_blank" href="http://www.guandn.com/">观点网</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="263" target="_blank" href="http://www.zreading.cn/">左岸读书</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="265" target="_blank" href="http://ibooks.org.cn/">读书小站</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="267" target="_blank" href="http://www.bookask.com/">书问</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="270" target="_blank" href="https://shuge.org/">书格</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="272" target="_blank" href="http://www.jingyu.com/">鲸鱼阅读</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="277" target="_blank" href="http://www.tuer.me/">兔耳日记</a></li>
</ul>