<h1>音乐</h1>
<h2 class="c5" style=""><i class="icon iconfont icon-shuye8"></i>超级福利</h2>
<ul class="pure-g">
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"
                                            style="display: none;"></i><a class="item" rel=""
                                                                          target="_blank"
                                                                          href="http://hao.xsldh.com/welcome/hongbao"
                                                                          style="color:red;font-weight: bold;">支付宝红包(升级版)</a>
    </li>
</ul>
<h2 class="c5"><i class="icon iconfont icon-shuye1"></i> 在线音乐</h2>
<ul class="pure-g">
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="345" target="_blank" href="http://music.163.com/">网易云音乐</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="346" target="_blank" href="http://www.xiami.com/">虾米音乐</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="347" target="_blank" href="https://y.qq.com/">QQ音乐</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="348" target="_blank" href="http://www.kugou.com/">酷狗音乐</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="349" target="_blank" href="http://www.kuwo.cn/">酷我音乐</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="350" target="_blank" href="http://music.baidu.com/">百度音乐</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="352" target="_blank" href="https://douban.fm/">豆瓣FM</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="388" target="_blank" href="http://www.migu.cn/music.html">咪咕音乐</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="353" target="_blank" href="http://www.ximalaya.com">喜马拉雅FM</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="354" target="_blank" href="http://5sing.kugou.com/index.html">5sing音乐</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="351" target="_blank" href="http://www.app-echo.com">echo回声</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="355" target="_blank" href="http://www.1ting.com/">一听音乐</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="356" target="_blank" href="http://www.9sky.com/">九天音乐</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="357" target="_blank" href="http://itwusun.com/">余声</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="358" target="_blank" href="http://www.nofm.cn/">乐鼠无牙</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="359" target="_blank" href="https://www.bandari.net/">班得瑞</a></li>
</ul>
<h2 class="c5"><i class="icon iconfont icon-shuye2"></i> 高清MV</h2>
<ul class="pure-g">
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="360" target="_blank" href="http://www.yinyuetai.com/">音悦台</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="361" target="_blank" href="http://v.qq.com/music/">腾讯MV</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="362" target="_blank" href="http://music.iqiyi.com/">爱奇艺MV</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="364" target="_blank"
            href="http://www.kugou.com/mvweb/html/">酷狗MV</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="363" target="_blank" href="http://www.kuwo.cn/mv/">酷我MV</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="366" target="_blank" href="http://www.truemv.com/">真乐网</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="365" target="_blank" href="http://www.170mv.com/">170MV</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="367" target="_blank" href="http://www.hdmv.org/">HDMV</a></li>
</ul>
<h2 class="c5"><i class="icon iconfont icon-shuye3"></i> 音乐下载</h2>
<ul class="pure-g">
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="374" target="_blank"
            href="http://wusunyinyue.cn/forum.php">无损音乐网</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="369" target="_blank" href="http://www.moofeel.com/">磨坊音乐</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="376" target="_blank" href="http://www.91tingge.com/">91听歌网</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="368" target="_blank" href="http://www.51ape.com/">51ape</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="370" target="_blank" href="http://www.88liu.com/">88六音乐</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="375" target="_blank" href="http://ape8.cn/">ape8音乐</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="373" target="_blank"
            href="https://sacdr.net/plugin.php?id=comeing_guide">SACD音乐</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="372" target="_blank" href="https://trix360.com/">Hires后花园</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="371" target="_blank" href="http://www.cdbao.net/">CD包音乐</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="377" target="_blank" href="http://www.hcyy.org/">风云音乐</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="378" target="_blank" href="http://www.tingyuxuan.net/">听雨轩</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="379" target="_blank" href="http://www.zhiaimusic.com/">至爱音乐</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="380" target="_blank" href="http://www.mixrnb.com/">MixRNB</a></li>
</ul>
<h2 class="c5"><i class="icon iconfont icon-shuye4"></i> 音乐社区</h2>
<ul class="pure-g">
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="381" target="_blank" href="http://www.luoo.net/">落网</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="382" target="_blank" href="http://www.52qingyin.cn/">清音陋室</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="383" target="_blank" href="http://www.musicsailor.com/">水手音乐</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="384" target="_blank" href="http://www.iyccd.com/">如果你能静下来</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="385" target="_blank"
            href="http://indietime.lofter.com/">Justlndie</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="386" target="_blank" href="http://www.maninmusic.com/">乐之随</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="387" target="_blank" href="https://weibo.com/eargod">耳帝</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="548" target="_blank" href="https://weibo.com/houson100037">Houson猴姆</a>
    </li>
</ul>