<h1>学习园地</h1>
<h2 class="c6" style=""><i class="icon iconfont icon-shuye8"></i>超级福利</h2>
<ul class="pure-g">
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"
                                            style="display: none;"></i><a class="item" rel=""
                                                                          target="_blank"
                                                                          href="http://hao.xsldh.com/welcome/hongbao"
                                                                          style="color:red;font-weight: bold;">支付宝红包(升级版)</a>
    </li>
</ul>
<h2 class="c6"><i class="icon iconfont icon-shuye1"></i> 知识文库</h2>
<ul class="pure-g">
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="336" target="_blank" href="https://wenku.baidu.com/">百度文库</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="339" target="_blank" href="http://www.360doc.com/index.html">360doc</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="340" target="_blank" href="http://www.cnki.net/">中国知网</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="341" target="_blank" href="http://doc.mbalib.com/">MBA智库</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="337" target="_blank" href="http://www.docin.com/">豆丁网</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="338" target="_blank" href="http://www.doc88.com/">道客巴巴</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="342" target="_blank" href="http://www.dajudeng.com/">大桔灯</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="343" target="_blank" href="http://wenku.it168.com/">IT168文库</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="344" target="_blank" href="http://www.diyifanwen.com/">第一范文网</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="534" target="_blank" href="http://www.ncpssd.org/index.aspx">哲学社会科学文献</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="567" target="_blank" href="http://d.mdnews.cn/">丁香文档</a></li>
</ul>
<h2 class="c6"><i class="icon iconfont icon-shuye2"></i> 在线课程</h2>
<ul class="pure-g">
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="310" target="_blank"
            href="http://www.icourse163.org/">中国大学MOOC</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="307" target="_blank" href="http://study.163.com/">网易云课堂</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="308" target="_blank" href="https://ke.qq.com/">腾讯课堂</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="309" target="_blank" href="https://www.imooc.com/">慕课网</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="311" target="_blank" href="https://mooc.guokr.com/">MOOC学院</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="312" target="_blank" href="http://ok.lanou3g.com/">蓝鸥学院</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="314" target="_blank" href="http://www.icourses.cn/home/">爱课程</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="313" target="_blank" href="http://www.51zxw.net/">我要自学网</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="315" target="_blank" href="http://oeasy.org/">oeasy</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="316" target="_blank" href="http://www.yun.lu/student/homepage">云路课堂</a>
    </li>
</ul>
<h2 class="c6"><i class="icon iconfont icon-shuye3"></i> 考研</h2>
<ul class="pure-g">
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="317" target="_blank" href="http://bbs.kaoshidian.com/resource">考研社区</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="319" target="_blank" href="http://download.kaoyan.com/">考研帮</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="318" target="_blank" href="http://bbs.kaoyan.com/">考研论坛</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="320" target="_blank" href="http://www.1zhao.org/">知识宝库</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="321" target="_blank" href="http://bbs.freekaoyan.com/forum.php">辅仁网</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="322" target="_blank" href="https://weibo.com/719656790">每日考研笔记</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="323" target="_blank"
            href="https://weibo.com/u/5359434969">考虫考研萌酱</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="324" target="_blank"
            href="https://weibo.com/s1002297748">文艺君考研 </a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="325" target="_blank"
            href="https://weibo.com/u/5372911673">找研友吧</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="326" target="_blank" href="https://weibo.com/kyqq">考研资源库</a></li>
</ul>
<h2 class="c6"><i class="icon iconfont icon-shuye4"></i> 学习英语</h2>
<ul class="pure-g">
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="330" target="_blank" href="http://www.mofunenglish.com/">英语魔方秀</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="333" target="_blank" href="http://www.duolingo.cn/">多邻国</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="327" target="_blank" href="http://www.51voa.com/">美国之音</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="331" target="_blank" href="http://www.1speaking.com/">第一口语网</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="332" target="_blank" href="http://www.bigear.cn/">大耳朵英语</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="328" target="_blank" href="http://www.kekenet.com/">可可英语</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="329" target="_blank" href="http://www.putclub.com/">普特英语</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="334" target="_blank" href="http://www.qcenglish.com/">七彩英语</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="335" target="_blank" href="https://www.shanbay.com/">扇贝</a></li>
</ul>