<h1>软件工具</h1>
<h2 class="c8" style=""><i class="icon iconfont icon-shuye8"></i>超级福利</h2>
<ul class="pure-g">
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"
                                            style="display: none;"></i><a class="item" rel=""
                                                                          target="_blank"
                                                                          href="http://hao.xsldh.com/welcome/hongbao"
                                                                          style="color:red;font-weight: bold;">支付宝红包(升级版)</a>
    </li>
</ul>
<h2 class="c8"><i class="icon iconfont icon-shuye1"></i> 软件应用</h2>
<ul class="pure-g">
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="511" target="_blank" href="http://www.zdfans.com/">zd423</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="510" target="_blank" href="https://www.52pojie.cn/">吾爱破解</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="512" target="_blank" href="https://www.itreping.com/">IT热评</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="514" target="_blank" href="https://www.appinn.com/">appinn</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="513" target="_blank"
            href="http://www.xuepojie.com/forum.php?mod=guide&view=newthread">学破解</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="516" target="_blank" href="https://www.iplaysoft.com/">异次元软件</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="515" target="_blank" href="https://www.fishlee.net/">鱼·后花园</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="518" target="_blank" href="http://www.carrotchou.blog/">胡萝卜周</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="519" target="_blank" href="http://www.lrshare.com/">绿色分享吧</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="517" target="_blank" href="https://www.portablesoft.org/">便携软件</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="520" target="_blank" href="https://www.appcgn.com/">软件缘</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="521" target="_blank" href="http://www.th-sjy.com/">th-sjy汉化博客</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="522" target="_blank" href="http://www.dayanzai.me/">大眼仔</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="523" target="_blank" href="http://www.bokeboke.net/">爱软客</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="526" target="_blank" href="http://love.appinn.com/">小众软件</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="583" target="_blank" href="http://www.flighty.cn/">轻狂志</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="525" target="_blank"
            href="https://amazing-apps.gitbooks.io/windows-apps-that-amaze-us/content/zh-CN/">Windows应用</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="524" target="_blank"
            href="http://wangchujiang.com/awesome-mac/index.zh.html">Mac应用</a></li>
</ul>
<h2 class="c8"><i class="icon iconfont icon-shuye2"></i> 在线工具</h2>
<ul class="pure-g">
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="496" target="_blank" href="https://cli.im/">二维码生成器</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="492" target="_blank" href="http://www.weibovideo.com/">微博视频下载</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="491" target="_blank" href="http://www.downfi.com/video/">小视频下载</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="493" target="_blank" href="http://dwz.cn/">短连接生成</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="494" target="_blank" href="https://convertio.co/zh/">在线文件转换器</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="497" target="_blank" href="http://p.haoii123.com/">在线排版</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="507" target="_blank" href="http://tool.mkblog.cn/">孟坤在线</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="498" target="_blank" href="http://www.99cankao.com/">99计算网</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="500" target="_blank" href="https://www.tianyancha.com/">企业信息查询</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="509" target="_blank" href="http://tool.c7sky.com/password/">随机密码生成器</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="495" target="_blank" href="https://www.ageeye.cn/">地图制作</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="499" target="_blank" href="http://www.torrent.org.cn/">种子转换磁力</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="508" target="_blank" href="https://www.kooshui.com/">淘宝优惠券查询</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="545" target="_blank" href="https://tool.lu/">在线工具</a></li>
</ul>
<h2 class="c8"><i class="icon iconfont icon-shuye3"></i> 图片工具</h2>
<ul class="pure-g">
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="473" target="_blank" href="http://www.uupoop.com/">PS在线</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="490" target="_blank" href="http://xiuxiu.web.meitu.com/main.html">美图秀秀网页版</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="474" target="_blank" href="http://www.tuyaya.com/">图丫丫</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="475" target="_blank" href="http://editor.pho.to/zh/">pho</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="476" target="_blank" href="https://www.iloveimg.com/zh_cn">iLoveLMG</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="478" target="_blank" href="http://optimizilla.com/zh/">在线图片优化器</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="479" target="_blank" href="http://www.secaibi.com/tools/">色彩笔</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="480" target="_blank" href="http://www.tietuku.com/">图片外链</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="280" target="_blank" href="https://www.xnview.com/en/">XnView</a>
    </li>
</ul>
<h2 class="c8"><i class="icon iconfont icon-shuye4"></i> GIF工具</h2>
<ul class="pure-g">
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="484" target="_blank"
            href="https://pan.baidu.com/s/1gfGSntx">gif裁剪</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="482" target="_blank" href="http://soogif.com/">soogif</a></li>
</ul>
<h2 class="c8"><i class="icon iconfont icon-shuye5"></i> 斗图工具</h2>
<ul class="pure-g">
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="305" target="_blank" href="http://www.lubiaoqing.com/">撸表情</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="586" target="_blank" href="http://www.bee-ji.com/">逗比拯救世界</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="485" target="_blank" href="https://www.52doutu.cn/">斗图终结者</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="487" target="_blank" href="http://deepba.com/">装逼神器</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="488" target="_blank" href="http://www.biaoqingdi.net/">表情帝</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="489" target="_blank" href="https://www.doutula.com/">斗图啦</a></li>
</ul>
<h2 class="c8"><i class="icon iconfont icon-shuye6"></i> PDF工具</h2>
<ul class="pure-g">
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="501" target="_blank" href="https://smallpdf.com/cn">Smallpdf</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="504" target="_blank" href="https://www.ilovepdf.com/zh_cn">iLovePDF</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="505" target="_blank" href="https://pdfcandy.com/">pdfcandy</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="506" target="_blank" href="http://pdf2doc.com/zh/">pdf在线</a></li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="503" target="_blank" href="http://app.xunjiepdf.com/">迅捷PDF</a>
    </li>
    <li class="pure-u-1-2 pure-u-md-1-6"><i class="icon iconfont icon-shoucang"></i><a
            class="item" rel="502" target="_blank"
            href="https://www.pdf2go.com/zh/">在线PDF转换器</a></li>
</ul>