<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>啾咪导航-柳暗花明又一村！</title>
    <meta name="keywords" content="啾咪,啾咪导航,啾咪搜索,柳暗花明又一村,上网导航,导航,网址,搜索,音乐,娱乐,图片,社区"/>
    <meta name="description"
          content="啾咪导航-收录600多实用网站，包括了电影资源，电视剧资源，音乐，阅读，模板素材，软件工具，知识文库等各大分类。页面清爽，酷炫，无广告，是一个类目齐全，功能强大，非常实用的导航网站。"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="{{ url_for('static', filename = 'css/pure-min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'css/iconfont.css') }}" rel="stylesheet">
    <!--[if lte IE 8]>
	<link rel="stylesheet" href="css/grids-responsive-old-ie-min.css">
<![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/grids-responsive-min.css') }}">
    <!--<![endif]-->
    <link href="{{ url_for('static', filename = 'css/web.css') }}" rel="stylesheet">
    <!--[if lt IE 9]>
	<script src="js/html5.min.js"></script>
<![endif]-->
    <link href="{{ url_for('static', filename = 'css/idangerous.swiper.css') }}" rel="stylesheet">
    <script>
        (function () {
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>
    <style>
        .footer {
            background: #333;
            border-top: 8px solid #d56464;
            position: relative;
        }

        .footer-inner {
            max-width: 1226px;
            padding: 16px 20px 14px;
            margin: 0 auto;
            color: #aaa;
            text-shadow: 0 -1px 0 #333;
        }

        .footer .footer-inner .copyright {
            text-align: center;
            font-size: small;
            float: none !important;
        }

        .footer a {
            color: #aaa;
        }
    </style>
</head>
<body>
<div class="top" style="background-color:#000">
    <div class="wrap">
        <a class="logo" href="{{ url_for('home.index') }}">
            <img src="{{ url_for('static', filename = 'picture/logo3.jpg') }}"><b>啾咪导航</b><span>内测版</span>
        </a>
        <div class="search"><a href="#"><b>Warning: </b>未满18岁不要点击!<i
                class="icon iconfont icon-sousuo"></i></a></div>
    </div>
</div>
<div class="wrap navbox">
    <div class="notice" style="display:none">
        <a href="#"><i class="icon iconfont icon-tongzhi"></i>新功能 : 关于[我的]功能的使用。</a>
    </div>
    <a href="#" class="my">
        <img alt="" style="height:34px" src="{{ url_for('static', filename = 'picture/featured.png') }}"/><br/>我的</a>
    {#顶部导航#}
    <div class="nav" id="navbtn">
        {% for tag in data_tag %}
            <a rel="{{ tag.num-1 }}" class="c{{ tag.num+1 }} trans" href="javascript:;">
                <i class="icon iconfont trans icon-tree{{ tag.num+1 }}"></i>{{ tag.name }}</a>
        {% endfor %}
    </div>
</div>

<div class="wrap">
    <div class="main">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for id in data_tag %}
                    <div class="swiper-slide">
                        <div id="slide{{ id.num-1 }}">
                            <h1>{{ id.name }}</h1>
                            <h2 class="c{{ id.num }}" style=""><i class="icon iconfont icon-shuye8"></i>超级福利</h2>
                            <ul class="pure-g">
                                <li class="pure-u-1-2 pure-u-md-1-6">
                                    <i class="icon iconfont icon-shoucang" style="display: none;"></i>
                                    <a class="item" rel=""
                                       target="_blank"
                                       href="{{ url_for('home.fuli') }}"
                                       style="color:red;font-weight: bold;">支付宝红包(升级版)</a>
                                </li>
                            </ul>
                            {% for b in data_tagname if b.tag_id == id.num %}
                                <h2 class="c{{ id.num }}"><i class="icon iconfont icon-shuye1"></i>{{ b.name }}</h2>
                                <ul class="pure-g">
                                    {% for v in data_tagurl if v.tagname_id==b.id %}
                                        <li class="pure-u-1-2 pure-u-md-1-6">
                                            <a class="item" target="_blank" href="{{ v.url }}">{{ v.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- <div class="swiper-container"> -->
    </div>
    <footer class="footer">
        <div class="footer-inner">
            <div class="copyright pull-left">
                <a href="https://jiumic.top " title="啾咪导航">啾咪导航 丨 </a>
                <a href="">琼ICP备18002729号-1</a>
            </div>
        </div>
    </footer>
    <div id="sc" class="icon iconfont icon-shoucang"></div>
</div>

<script src="{{ url_for('static', filename='js/jquery-1.12.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/idangerous.swiper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/idangerous.swiper.progress.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.leanmodal.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/web.js') }}"></script>
<script type="text/javascript">
    $(function () {
        var currindex = getCookie('currIndex');
        if (currindex == '') {
            currindex = 0;
            {#window.location.href = '#';#}
            var explorer = navigator.userAgent;
            home_create_swiper(currindex);
        } else {
            var explorer = navigator.userAgent;
            home_create_swiper(currindex);
        }

        $('.item').click(function () {
            var id = $(this).attr('rel');
            $.get('', {id: id});
        });

        $('.swiper-slide li').mouseover(function () {
            $(this).find('i').show();
        }).mouseout(function () {
            $(this).find('i').hide();
        });
        $('.swiper-slide li i').click(function () {
            var Y = $(this).offset().top;
            var X = $(this).offset().left;
            var my = $('.my').offset();
            var id = $(this).parent().find('.item').attr('rel');

            $('#sc').css({'top': Y + 'px', 'left': X + 'px', 'border-radius': '15px'}).show()
                .animate({top: '78px', left: (my.left + 3) + 'px'}, 1000, 'easeOutBounce', function () {
                    $(this).fadeOut();
                    $.get('#', {id: id});
                });
        });

    });
</script>
</body>
</html>