{% extends "admin/admin.html" %}
{% import "ui/admin_page.html" as pg %}
{% block css %}
    <style>
        .table > tbody > tr > td,
        .table > tbody > tr > th,
        .table > tfoot > tr > td,
        .table > tfoot > tr > th,
        .table > thead > tr > td,
        .table > thead > tr > th {
            vertical-align: middle;
            text-align: center;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="box box-primary">
        {% for msg in get_flashed_messages(category_filter=["ok"]) %}
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-check"></i> 操作成功</h4>
                {{ msg }}
            </div>
        {% endfor %}
        <div class="">
            <h3>导航列表</h3>
        </div>
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
                <tbody>
                <thead>
                <tr>
                    <th>
                        序号
                    </th>
                    <th>
                        名称
                    </th>
                    <th>
                        所属导航
                    </th>
                    <th>
                        添加时间
                    </th>
                    <th class="center">
                        操作
                    </th>
                </tr>
                </thead>
                {% for v in page_data.items %}
                    <tr class="odd gradeX">
                        <td class="center">
                            {{ v.id }}
                        </td>
                        <td>
                            {{ v.name }}
                        </td>
                        <td>
                            {{ v.tag.id }}{{ v.tag.name }}
                        </td>
                        <td class="center">
                            {{ v.addtime }}
                        </td>
                        <td>
                            <a class="btn btn-warning btn-sm" href="{{ url_for('admin.tagname_edit',id=v.id) }}"
                               role="button">编辑</a>
                            &nbsp;
                            <a class="btn btn-danger btn-sm" href="{{ url_for('admin.tagname_del',id=v.id) }}"
                               role="button">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="box-footer clearfix">
            {{ pg.page(page_data,'admin.tagname_list') }}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $("#g-5").addClass("active");
        });
    </script>
{% endblock %}